{% include 'headers.html' %}
{% extends 'main.html' %}
{% block content %}


<div>
  <div class="margin-top">
    <form action="{{url_for('editCatalogItem', item_name = item.name)}}" method="POST">
      <label for="name">Title:</label>
      <input type ="text" class="form-control" name="name" value="{{item.name}}">
      <label for="name">Description:</label>
      <input type ="text" class="form-control" name="description" value="{{item.description}}">
      <label for="category">Category:</label>
      <br />
      <select name='category'>
        {% for category in categories %}
        {% if category.name == item.category.name %}
        <option value='{{category.id}}' selected>
          {{category.name}}
        </option>
        {% else %}
        <option value='{{category.id}}'>
          {{category.name}}
        </option>
        {% endif %}
        {% endfor %}
      </select>
      </h2>
      <br /><br />
      <div>
      <button type="submit" class="btn btn-default" id="submit" type="submit">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
      <a href = '{{url_for('catalog')}}' class='btn btn-default'>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel
      </a>
    </div>
</form>
  </div>
</div>



{% endblock %}
